:root {
  --bold-hero-font-family: "Inter", Helvetica;
  --bold-hero-font-size: 46px;
  --bold-hero-font-style: normal;
  --bold-hero-font-weight: 600;
  --bold-hero-letter-spacing: 0px;
  --bold-hero-line-height: normal;
  --caps-heading-font-family: "Inter", Helvetica;
  --caps-heading-font-size: 16px;
  --caps-heading-font-style: normal;
  --caps-heading-font-weight: 400;
  --caps-heading-letter-spacing: -0.48px;
  --caps-heading-line-height: normal;
  --capsregulargrey700-16px-font-family: "Inter", Helvetica;
  --capsregulargrey700-16px-font-size: 16px;
  --capsregulargrey700-16px-font-style: normal;
  --capsregulargrey700-16px-font-weight: 400;
  --capsregulargrey700-16px-letter-spacing: -0.48px;
  --capsregulargrey700-16px-line-height: normal;
  --italic-font-family: "Inter", Helvetica;
  --italic-font-size: 16px;
  --italic-font-style: italic;
  --italic-font-weight: 300;
  --italic-letter-spacing: -0.48px;
  --italic-line-height: normal;
  --italic-quote-font-family: "Inter", Helvetica;
  --italic-quote-font-size: 24px;
  --italic-quote-font-style: italic;
  --italic-quote-font-weight: 300;
  --italic-quote-letter-spacing: -1.44px;
  --italic-quote-line-height: 36px;
  --large-heading-font-family: "Inter", Helvetica;
  --large-heading-font-size: 28px;
  --large-heading-font-style: normal;
  --large-heading-font-weight: 600;
  --large-heading-letter-spacing: 0px;
  --large-heading-line-height: normal;
  --m3-elevation-light-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --m3-elevation-light-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
  --medium-heading-font-family: "Inter", Helvetica;
  --medium-heading-font-size: 25px;
  --medium-heading-font-style: normal;
  --medium-heading-font-weight: 600;
  --medium-heading-letter-spacing: -0.75px;
  --medium-heading-line-height: normal;
  --medium-hero-font-family: "Inter", Helvetica;
  --medium-hero-font-size: 54px;
  --medium-hero-font-style: normal;
  --medium-hero-font-weight: 500;
  --medium-hero-letter-spacing: -1.62px;
  --medium-hero-line-height: normal;
  --mini-italic-font-family: "Inter", Helvetica;
  --mini-italic-font-size: 13px;
  --mini-italic-font-style: normal;
  --mini-italic-font-weight: 400;
  --mini-italic-letter-spacing: -0.39px;
  --mini-italic-line-height: normal;
  --regular-font-family: "Inter", Helvetica;
  --regular-font-size: 16px;
  --regular-font-style: normal;
  --regular-font-weight: 400;
  --regular-grey-font-family: "Inter", Helvetica;
  --regular-grey-font-size: 16px;
  --regular-grey-font-style: normal;
  --regular-grey-font-weight: 400;
  --regular-grey-letter-spacing: -0.48px;
  --regular-grey-line-height: normal;
  --regular-letter-spacing: -0.48px;
  --regular-line-height: normal;
  --semiboldgrey700-25px-font-family: "Inter", Helvetica;
  --semiboldgrey700-25px-font-size: 25px;
  --semiboldgrey700-25px-font-style: normal;
  --semiboldgrey700-25px-font-weight: 600;
  --semiboldgrey700-25px-letter-spacing: -0.75px;
  --semiboldgrey700-25px-line-height: normal;
  --small-heading-font-family: "Inter", Helvetica;
  --small-heading-font-size: 19px;
  --small-heading-font-style: normal;
  --small-heading-font-weight: 500;
  --small-heading-letter-spacing: -0.57px;
  --small-heading-line-height: normal;
}
